.teacherPanel{
    width: 100vw;
}

.teacherPanel h3{
    margin: px;
}


.fullWidth{
    width: 100%;
    height: auto;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small-image{    
    height: 50px;
    width: 50px;
}

.icon{    
    height: 30px;
    width: 30px;
}

.pane{
    height: auto;
    background-color: #b39ddb;
    border: 2px solid black;
}

/* teacherPanelButton */
.teacherPanel button{
    height: 100%;
    margin: 0px;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: large;
}

.teacherPanel button:hover{
    background-color: #b39ddb;
    color: white;
}

.menu button{
    border: none;
    border-top: 1px solid #aa33da;
}
